@page
@model CodeJam.Pages.RezultatuLenteleModel
@{
    ViewData["Title"] = "RezultatuLentele";
}

<h2>Rezultatai</h2> <br />
<div class="row" style="width:100%">
    <button class="btn btn-info col-md-2" style="margin-right:10px;" onclick="ShowAll(this)">Rodyti Visus</button>
    <button class="btn btn-info col-md-2" onclick="ShowOne()">Rodyti po viena</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Vieta</th>
            <th>Nickname</th>
            <th>Taskai</th>
            <th>Baudos laikas</th>
            <th>Snieguolė</th>
            <th>Snieguolės band.</th>
            <th>Sprendimo laikas</th>
            <th>Rinkimai</th>
            <th>Rinkimai band.</th>
            <th>Sprendimo laikas</th>
        </tr>
    </thead>
    @{int i = 1; }
    @foreach (var dalyvis in Model.Participants)
    {
    <tr hidden id="line">
        <td>@(i++)</td>
        <td>@dalyvis.Username</td>
        <td>@dalyvis.Score</td>
        <td>@dalyvis.Penalty.ToString("c")</td>
        <td><img src="~/images/@(dalyvis.SnowwhiteSolved ? "yes.png" : "no.png")" /></td>
        <td>@dalyvis.SnowwhiteIncorrectAttempts</td>
        <td>@(dalyvis.SnowwhiteSolvingTime?.ToString("c") ?? " - " )</td>
        <td><img src="~/images/@(dalyvis.ElectionSolved ? "yes.png" : "no.png")" /></td>
        <td>@dalyvis.ElectionIncorrectAttempts</td>
        <td>@(dalyvis.ElectionSolvingTime?.ToString("c") ?? " - " )</td>
    </tr>
    }
</table>
<script>
    var isShown = false;
    function ShowAll(btn) {
        if (isShown) {
            $("tr#line").hide();
            isShown = false;
            $(btn).html("Rodyti visus");
        }
        else {
            $("tr#line").show();
            isShown = true;
            $(btn).html("Slėpti visus");
        }
    }
    function ShowOne() {
        $("tr:hidden").last().show();
    }
</script>

